body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/*Removes img link underlining*/
.img {
  text-decoration: none;
  position: relative;
  top: 45px;
}

#Stackoverflow {
  position: relative;
  top: 42px;
  right: -1px;
}

/*Removes link underlining*/
.link {
  text-decoration: none;
}

/* Styles TEXT input fields */
input[type=text], select, textarea {
    width: 88%; /* Full width */
    margin-right: auto;
    margin-left: auto;
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Styles EMAIL input fields */
input[type=email], select, textarea {
    width: 88%; /* Full width */
    margin-right: auto;
    margin-left: auto;
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

#contact {
position: relative;
left: 40px;
padding: 15px;
}

#nav {
  width: 100%;
  height: 120px;
  border: 10px;
  border-color: #cccccc;
  background-color: #ffffff;
  text-align: right;
  color: #777777;
  vertical-align: middle;
  line-height: 80px;
}

#navlinks {
  position: relative;
  right: 100px;
}

#name {
  position: relative;
  bottom: 120px;
  left: 33px;
  width: 320px;
  height: 80px;
  background-color: #4aaaa5;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  font-size: 35px;
  color: #ffffff;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

/*About section background (subtle texture)*/
#main {
  position: relative;
  bottom: 120px;
  background-image: url("../Images/hip-square.png");
  height: 800px;
  width: auto;
  padding: 20px;
  border-bottom: 5px solid #4aaaa5;
  }

/*Content block*/
#about {
  text-align: left;
  background-color: #ffffff;
  position: relative;
  top: 36px;
  left: 2px;
  height: auto;
  width: 650px;
  padding: 10px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

/*line break style*/
.style1 {
  width: 87%;
  border-top: 1px solid #777777;
}

/*BioPhoto*/
#myphoto {
  float: left;
  clear: both;
  margin: 10px;
  height: 225px;
  width: 200px;
  text-align: center;
}

/*About me page text*/
#lorem {
  line-height: 1.5;
  color: #777777;
  margin: 10px;
}

#projects {
  margin-right: auto;
  margin-left: auto;
}

#projectlinks {
  float: left;
  display: inline-block;
}

.projectimg {
  height: 200px;
  width: 200px;
  margin: 15px;
}

.projectbanner {
  position: absolute;
  float: left;
  left: 25px;
  width: 200px;
  height: 80px;
  background-color: #4aaaa5;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  font-size: 35px;
  color: #ffffff;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

/*Icon Links--GitHub, linkedin & Stackoverflow--*/
#connect {
  position: absolute;
  padding: 10px;
  bottom: 594px;
  left: 701px;
  width: 230px;
  height: 170px;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

#connectlinks {
  position: relative;
  bottom: 40px;
}

/*Footer section with copywright*/
#footer {
  position: relative;
  background-color: #666666;
  bottom: 120px;
  width: 100%;
  height: 80px;
  text-align: center;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 10px;
  color: #ffffff;
  line-height: 80px;
}
